<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jaimin Fee">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jaimin Fee professional website">
    <title>Jaimin Fee</title>
    <link rel="stylesheet" href = "../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="../static/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload = "addYear()">
    <header>
        <h1 id="webname">Jaimin Fee</h1>
        <nav id="myTopnav" class="topnav">
            <a href= "index.html">Home</a>
            <a href = "cv.html" class = "active">CV</a>
            <a href= "contact.html">Contact Me</a>
            <a href= "fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick = "activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class = "main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th>Jaimin Fee</th><th>Description</th></tr>
            <tr><td>Education</td><td>Central Bucks South High School, Carnegie Mellon University</td></tr>
            <tr><td>Work Experience</td><td>Referee for US Youth Soccer</td></tr>
        </table>
        <a href = "../static/resumed.pdf" target = "_blank" style = "background-color:white" >My Resume - pdf version</a>
    </div>
    <footer>
        <p id = "copyYear">Jaimin Fee &copy;</p>
    </footer>
</body>
</html>